.title_1_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title_h2 {
    margin: 8px 60px;
}

.title_1_container .primary-btn {
    color: #ffffff;
    background-color: #070708;
    margin: 8px 60px;
    padding: 16px 32px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    border-radius: 24px;
    border-width: 0;
    font-size: medium;
    text-transform: uppercase;
}

.title_1_container .primary-btn:hover {
    color: #070708;
    background-color: #c9d9f0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.title_1_container .primary-btn:active {
    color: #070708;
    background-color: #c9d9f0;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.2);
}

.course_box {
    padding: 12px 50px;
    overflow-x: scroll;
    display: flex;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
}

.course_box::-webkit-scrollbar {
    height: 2px;
}

.course_box::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.course_box:hover::-webkit-scrollbar-thumb {
    background-color: #070708;
}

.course-view {
    display: flex;
    flex-direction: column;
}

.course-card {
    overflow: hidden;
    margin-right: 60px;
    width: 300px;
    height: 200px;
    background-color: #ffffff;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    border-radius: 24px;
    border-width: 0;
}

.course-card .course_logo {
    height: 200px;
    object-fit: cover;
}

.course-view h3 {
    padding: 4px 0;
    margin-top: 8px;
    margin-left: 8px;
    font-size: large;
    font-weight: normal;
}

.course-view p {
    padding: 2px 0;
    margin-left: 8px;
    font-size: small;
    font-weight: lighter;
}

.secondary-btn {
    color: #070708;
    background-color: #ffffff;
    margin: 8px 60px;
    padding: 16px 32px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    border-radius: 24px;
    border-width: 0;
    font-size: medium;
    text-transform: uppercase;
}

.secondary-btn:hover {
    color: #070708;
    background-color: #c9d9f0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.secondary-btn:active {
    color: #070708;
    background-color: #c9d9f0;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.2);
}

.banner-widget {
    position: relative;
    display: flex;
    flex-direction: column;
}

.banner-container {
  height: 260px;
  background-color: #070708;
  margin: 0 50px;
  border-radius: 24px;
  border: none;
}

.banner-image img {
  height: 260px;
  object-fit: cover;
  left: 50%;
  position: absolute;
  z-index: 1;
}

.banner_overlay {
  height: 260px;
  left: 50%;
  position: absolute;
  z-index: 2;
  background: linear-gradient(to right, rgba(0, 0, 0, 1) 0%,  rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 1) 100%);
  /*background: linear-gradient(to right, rgba(0, 0, 0, 1) 0%,  rgba(0, 0, 0, 0.1) 30%, rgba(0, 0, 0, 0.1) 70%, rgba(0, 0, 0, 1) 100%);*/
  /*background: radial-gradient(circle at center, rgba(0, 0, 0, 0) 0%,  rgba(0, 0, 0, 1) 85%, rgba(0, 0, 0, 1) 100%);*/
}

.banner-content {
  width: 40%;
  position: absolute;
  top: 16%;
  left: 8%;
  text-align: start;
  color: #ffffff;
}

.banner-content h2 {
    margin-bottom: 12px;
}

.banner-content p {
    margin: 12px 0;
}

#course-description {
  display: -webkit-box;
  -webkit-line-clamp: 5; /* Number of lines to show */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.banner-navigation {
    display: flex;
    align-items: center;
    margin: 16px 0 ;
}

.banner-navigation span {
    flex-grow: 1;
}

.banner-navigation button {
  padding: 0;
  margin: 0 16px;
  border: none;
  border-radius: 50%;
  background-color: transparent;
}

.banner-navigation button:hover {
  background-color: #c9d9f0;
}

.banner-navigation button img {
    padding: 0;
    margin: 0;
    object-fit: cover;
}

.circle {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid #070708;
  margin: 0 8px;
  cursor: pointer;
}

.circle:hover {
   border: 2px solid #070708;
}

.active {
  background-color: #000000;
}

.rotate {
    transform: rotate(180deg);
}

.center-box {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.course-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 16px 60px;
}

.course-view.t-b-margin {
    margin: 16px 0;
}

