.parent-content {
    display: flex;
    flex-wrap: wrap;
}

.video-content {
    flex: 1 1 auto;
    max-width: calc(100% - 300px - 100px);
    position: relative;
    border-radius: 24px;
    border: none;
    background-color: #eeeeee;
    margin-left: 30px;
}

video {
    width: 100%;
    max-width: 100%;
    box-shadow: none;
    outline: none;
    border: 1px solid #070708;
    border-radius: 24px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.video-content:hover .overlay {
  opacity: 1;
}

.tint {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 24px;
  background-color: rgba(0, 0, 0, 0.2); /* Adjust the transparency as needed */
}

.tint:active {
    background-color: rgba(0, 0, 0, 0.5);
}

.control-bar {
  position: absolute;
  bottom: 2px;
  left: 2px;
  right: 2px;
  display: flex;
  align-items: center;
  padding: 8px 16px;
  background-color: #c9d9f0;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
}

.control-bar input {
  margin-right: 10px;
}

.c-button {
  border: none;
  background-color: transparent;
  margin-right: 8px;
  padding: 4px;
}

.c-button:hover {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 24px;
}

.time {
    margin-right: 16px;
}

.seek-bar {
  width: 100%;
}

.seek-bar::-webkit-slider-thumb {
    background-color: #070708;
}

.seek-bar::-webkit-progress-value {
    background-color: #070708;
}

.chapter-content {
    width: 300px;
    margin: 2px 32px;
    padding: 16px 16px;
    display: flex;
    flex-direction: column;
    background-color: #eeeeee;
    border-radius: 24px;
}

.chapter-content h2 {
    font-size: x-large;
    font-family: 'Poppins', sans-serif;
    margin: 8px;
}

.chapter-view-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 16px 32px;
    margin: 8px 0;
    border: none;
    border-radius: 12px;
    background-color: #c9d9f0;
}

.chapter-view-container.sel {
    background-color: #070708;
    color: #ffffff;
}
.chapter-title {
    margin: 8px 60px;
}

.quiz-view-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 16px 32px;
    margin: 8px 0;
    border: none;
    border-radius: 12px;
    background-color: #c9d9f0;
}

.quiz-view-container.sel {
    background-color: #070708;
    color: #ffffff;
}

.quiz-content {
    width: 100%;
    height: 70vh;
    position: relative;
    border-radius: 24px;
    border: none;
    background-color: #eeeeee;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 32px;
}

.quiz-content.hide {
    display: none;
}

.quiz-content p {
    margin: 4px;
}

.quiz-content h3 {
    margin: 8px;
}

.quiz-title {
    font-size: xxx-large;
    margin: 16px;
}

.content {
    display: flex;
    flex-direction: row;
}

.content-buttons {
    padding: 16px 32px;
    border-radius: 24px;
    margin: 8px;
    border: none;
    font-size: medium;
    color: #ffffff;
    background-color: #070708;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.content-buttons.large {
    font-size: medium;
    width: 120px;
}

.content-buttons:hover {
    background-color: #c9d9f0;
    color: #070708;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.content-buttons:active {
    background-color: #6f94c6;
    color: #070708;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.1);
}

.quiz-question-v {
    width: 100%;
    margin: 8px;
    padding: 8px;
    font-size: x-large;
}

.q-options {
    width: 100%;
    padding: 16px 32px;
    margin: 8px;
    border: none;
    border-radius: 12px;
    background-color: #c9d9f0;
    color: #070708;
    font-size: medium;
    text-align: start;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.q-options:hover {
    background-color: #070708;
    color: white;
}

.q-options.sel {
    background-color: #070708;
    color: white;
}

.q-options.sel span {
    border: 1px solid white;
}

.q-options span {
    border: 1px solid #070708;
    background-color: #070708;
    color: white;
    padding: 4px 8px;
    border-radius: 24px;
    margin-right: 32px;
}

.q-options:hover span {
    border: 1px solid white;
}

.quiz-buttons-cont {
    width: 100%;
    margin-top: 16px;
    display: flex;
    flex-direction: row;
    justify-content: end;
}