.parent-content {
    display: flex;
    flex-direction: row;
    padding: 16px;
}

.video-content {
    flex-grow: 1;
    border-radius: 24px;
    border: none;
    background-color: #eeeeee;
    margin-left: 30px;
}

.chapter-content {
    width: 300px;
    margin: 2px 32px;
    padding: 16px 16px;
    display: flex;
    flex-direction: column;
    background-color: #eeeeee;
    border-radius: 24px;
}

.chapter-content h2 {
    font-size: x-large;
    font-family: 'Poppins', sans-serif;
    margin: 8px;
}

.chapter-view-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 16px 32px;
    margin: 8px 0;
    border: none;
    border-radius: 12px;
    background-color: #c9d9f0;
}

.chapter-view-container.sel {
    background-color: #070708;
    color: #ffffff;
}

video {
    width: 100%;
    border-radius: 24px;
}

.chapter-title {
    margin: 8px 60px;
}