body {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      background-color: #f2f2f2;
      font-family: Arial, sans-serif;
    }

    .login-container {
        position: relative;
        top: -20px;
    }

    .brand {
        display: flex;
        align-content: center;
        justify-content: center;
    }

    .brand img {
        margin-right: 20px;
        position: relative;
        top: 50px;
    }

    .brand h1 {
        text-align: center;
        color: #ffffff;
        font-weight: bold;
        font-size: xxx-large;
        font-family: 'Pacifico', cursive;
    }

    .login-card {
        width: 360px;
        padding: 20px;
        border-radius: 24px;
        box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
        background-color: #373741;
    }

    .login-card form {
      margin: 10px;
    }

    .login-card label {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
    }

    .login-card label img {
        margin-right: 20px;
    }

    .login-card input[type="email"],
    .login-card input[type="text"],
    .login-card input[type="password"] {
        width: 100%;
        height: 30px;
        padding: 8px 16px;
        margin-top: 8px;
        margin-bottom: 8px;
        border-radius: 12px;
        border: none;
        background-color: #222126;
        color: #ffffff;
        font-size: small;
    }

    .center-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 24px;
    }

    .login-card input[type="submit"] {
      padding: 14px 40px;
      margin-top: 10px;
      border-radius: 24px;
      background-color: #ffffff;
      color: #373741;
      border: 2px solid #ffffff;
      cursor: pointer;
        text-transform: uppercase;
        font-size: medium;
    }

    .login-card input[type="submit"]:hover{
        color: #ffffff;
        background-color: #222126;
        border: 2px solid #222126;
    }

    .login-container a {
      display: block;
      text-align: center;
      text-decoration: underline;
      color: #ffffff;
        text-transform: uppercase;
        margin-top: 20px;
        font-size: small;
    }

    .signup-button {
      padding: 14px 40px;
      margin-top: 10px;
      border-radius: 24px;
      background-color: transparent;
      color: white;
      border: 2px solid #ffffff;
      cursor: pointer;
      text-transform: uppercase;
      font-size: medium;
    }

    .signup-button:hover {
      background-color: #ffffff;
      color: #373741;
    }


#callContainer {
  position: fixed;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  width: 360px;
  background-color: #373741;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border: 2px solid #FF9494;
  color: #eeeeee;
  border-radius: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  transition: opacity 0.2s ease-in-out;
  padding: 16px 24px;
}

.callContent {
  width: 100%;
  display: flex;
  flex-direction: row;
    justify-content: space-between;
  align-items: center;
}

.hidden {
  opacity: 0;
}

.visible {
  opacity: 1;
}

.close-call-button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    background-color: #FF9494;
    padding: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    right: 0;
}

.close-call-button:hover {
    background-color: #FF4848;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.callContent p {
    font-family: 'Poppins', sans-serif
}