<!DOCTYPE html>
 <html lang="en">
 <head>
     {% load static %}
     <meta charset="UTF-8">
     <title>Confirm Password</title>
     <link rel="stylesheet" type="text/css" href="{% static 'Athena/css/reset_password.css' %}"/>
 </head>
 <body style="background-image: url('{% static "Athena/media/login-bg.svg" %}'); background-size: cover;">
     <div class="confirm-password-container">
         <h1>Confirm New Password</h1>
         <form action="{% url 'reset_password' %}" method="post">
             {% csrf_token %}
             <label for="new_password">New Password:</label>
             <input type="password" id="new_password" name="new_password" required>
             <label for="re-enter new_password">Re-enter New Password:</label>
             <input type="password" id="confirm_new_password" name="re-enter new_password" required>
             <input type="submit" value="Confirm Password">
         </form>
         <a href="{% url 'confirm_password' %}"></a>
         {% if error_message %}
             <p>{{ error_message }}</p>
         {% endif %}
     </div>
 </body>
 </html>