{% extends 'Athena/base.html' %}
{% load static %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'Athena/css/course_author_page.css' %}"/>
{% endblock %}

{% block page %}
<div class="info-container">
        <img class="course-banner" src="{{ course.course_banner.url }}" alt="course_banner">
        <div class="course-content">
            <h2 class="course-title">{{ course.course_title }}</h2>
            <p class="course-desc">{{ course.course_desc }}</p>
            <div class="content-footer">
                <div class="author-card">
                    <img class="author-profile-image" src="{{ author_profile.url }}" alt="author_profile">
                    <p class="course-author"> {{ course.author.first_name }} {{ course.author.last_name }}</p>
                </div>
                <button class="enroll-button">Edit</button>
            </div>
        </div>
    </div>

    <div class="tabbed-view">
        <div class="tab-container">
            <button class="tab" onclick="openTab(event, 'tab1', 0)">Course Details</button>
            <button class="tab" onclick="openTab(event, 'tab2', 1)">Content</button>
            <button class="tab" onclick="openTab(event, 'tab3', 2)">Students</button>
            <button class="tab" onclick="openTab(event, 'tab4', 3)">Grades</button>
        </div>
        <div id="tab1" class="tab-content">
            <div class="course-content-dates">
                <div>
                    <h3>Course Created on: </h3>
                    <p>{{ course.course_created }}</p>
                </div>
                <div>
                    <h3>Course Difficulty Level: </h3>
                    <p>{{ course.get_course_difficulty_display }}</p>
                </div>
                <p class="secondary-info"> Last updated on {{ course.last_update }}
            </div>
            <div class="course-content-dates">
                <div>
                    <h3>Course Starts: </h3>
                    <p>{{ course.course_start_date }}</p>
                </div>
                <div>
                    <h3>Course Ends:</h3>
                    <p>{{ course.course_end_date }}</p>
                </div>
                <p class="secondary-info"> Duration: {{ course.course_start_date|timesince:course.course_end_date }}
            </div>
            <div class="course-content-dates">
                <div>
                    <h3>Course Medium: </h3>
                    <p>{{ course.get_course_type_display }}</p>
                </div>
                <div>
                    <h3>Instructor: </h3>
                    <div class="author-card">
                        <img class="author-profile-image" src="{{ author_profile.url }}" alt="author_profile">
                        <p class="course-author"> {{ course.author.first_name }} {{ course.author.last_name }}</p>
                    </div>
                </div>
                <p class="secondary-info"> Weekly: {{ course.course_day }}
            </div>
            <h3 class="cat-title">Content Covered</h3>
            <div id="cat-container"></div>
            <h3 class="cat-title">Class Enrollments: </h3>
            <p>{{ e_info|length }} Student{{ e_info|pluralize }}</p>
        </div>
        <div id="tab2" class="tab-content">
            <div class="content-p-container">
                <div class="content-header">
                    <h2>Chapters:</h2>
                    <div>
                        <button class="expand-button content-buttons light content-buttons-120" id="chapter-expand-btn">
                            Expand
                        </button>
                    </div>
                </div>
                <div id="content-container" class="content-container">
                    <form id="vis-form" method="post" action="{% url 'change_chapter_visibility' %}">
                        {% csrf_token %}
                        <input id="course_id-f" name="course" type="hidden" value="{{ course.id }}">
                        <input id="chapter_id-f" name="id" type="hidden" value="">
                        <input id="visibility-f-input" type="hidden" name="visibility" value="False">
                        <input id="mode-f-input" type="hidden" name="mode" value="Chapter">
                        <input id="scroll-f-input" type="hidden" name="page_scroll" value="0">
                    </form>
                    {% for chapter in chapters %}
                        <div class="chapter-view-container chapter-v-container">
                            <div class="chapter-info-container">
                                <span>{{ forloop.counter }}</span>
                                <p class="ch-title-info">{{ chapter.title }}</p>
                            </div>
                            <div class="chapter-info-container">
                                <div class="toggle-div">
                                    <button id="ch-visible-button" class="toggle-btn light sel">Visible</button>
                                    <button id="ch-hidden-button" class="toggle-btn light">Hidden</button>
                                </div>
                                {% if chapter.is_streaming %}
                                    <button class="icon-buttons no-sel">
                                        <img width="36" height="36" src="https://img.icons8.com/ios/50/cinema---v1.png" alt="cinema---v1"/>
                                    </button>
                                {% else %}
                                    <button class="icon-buttons no-sel">
                                        <img width="36" height="36" src="https://img.icons8.com/ios/50/document--v1.png" alt="document--v1"/>
                                    </button>
                                {% endif %}
                                <button class="content-buttons light no-mrg">Edit</button>
                                <button class="icon-buttons" id="ch-delete-btn">
                                    <img width="32" height="32" src="https://img.icons8.com/ios/28/delete-forever--v1.png" alt="delete"/>
                                </button>
                            </div>
                        </div>
                    {%  endfor %}
                    <form method="post" enctype="multipart/form-data" action="{% url 'create_chapter' %}">
                        {%  csrf_token %}
                        <div>
                            <h3>Chapter Title: </h3>
                            {{ c_form.course }}
                            {{ c_form.title }}
                            {{ c_form.visibility }}
                            <div class="toggle-div">
                                <button id="visible-button" class="toggle-btn sel">Visible</button>
                                <button id="hidden-button" class="toggle-btn ">Hidden</button>
                            </div>
                            {{ c_form.is_streaming }}
                            <div class="toggle-div large">
                                <button id="stream-button" class="toggle-btn large">Stream-Only</button>
                                <button id="no-stream-button" class="toggle-btn large sel">No Stream</button>
                            </div>
                        </div>
                        <div id="stream_video_file_div">
                            {{ c_form.video_file }}
                        </div>
                        <div id="no_stream_video_file_div">
                            {{ c_form.files }}
                        </div>
                        <button class="content-buttons" type="submit">Add Chapter</button>
                    </form>
                </div>
            </div>
            <div class="content-p-container">
                <div class="content-header">
                    <h2>Quiz:</h2>
                    <div>
                        <button class="expand-button content-buttons light content-buttons-120" id="quiz-expand-btn">Expand</button>
                    </div>
                </div>
                <div id="content-container" class="content-container">
                    {% for quiz in quizzes %}
                        <div class="chapter-view-container quiz-v-container">
                            <div class="chapter-info-container">
                                    <span>{{ forloop.counter }}</span>
                                    <p class="ch-title-info">{{ quiz.title }}</p>
                            </div>
                            <div class="chapter-info-container">
                                <div class="toggle-div">
                                    <button id="qq-visible-button" class="toggle-btn light sel">Visible</button>
                                    <button id="qq-hidden-button" class="toggle-btn light">Hidden</button>
                                </div>
                                <button class="content-buttons light no-mrg">Edit</button>
                                <a href="{% url 'add_quiz_question' quiz.id %}"><button class="content-buttons light no-mrg">Add question</button></a>
                                <button class="icon-buttons" id="q-delete-btn">
                                    <img width="32" height="32" src="https://img.icons8.com/ios/28/delete-forever--v1.png" alt="delete"/>
                                </button>
                            </div>
                        </div>
                    {%  endfor %}
                    <form method="post" enctype="multipart/form-data" action="{%  url 'create_quiz' %}">
                        {% csrf_token %}
                        <div>
                            <h3>Quiz Title: </h3>
                            {{ q_form.course }}
                            {{ q_form.title }}
                            {{ q_form.visibility }}
                            <div class="toggle-div">
                                <button id="q-visible-button" class="toggle-btn sel">Visible</button>
                                <button id="q-hidden-button" class="toggle-btn ">Hidden</button>
                            </div>
                            {{ q_form.negative_marking }}
                            <div class="toggle-div x-large">
                                <button id="n-allowed-button" class="toggle-btn x-large">Negative Marking</button>
                                <button id="n-not-allowed-button" class="toggle-btn sel x-large">Normal Marking</button>
                            </div>
                            {{ q_form.negative_grade }}
                        </div>
                        <div class="quiz_i_t_info">
                            <div class="instruction_container">
                                <h4>Instructions for Students: </h4>
                                {{ q_form.instructions }}
                            </div>
                            <div class="time_container">
                                <h4>Time Limit Defined in Minutes: </h4>
                                {{ q_form.time }}
                                <h4>Quiz Questions stored in File: </h4>
                                <div id="stream_video_file_div">
                                    {{ q_form.files }}
                                </div>
                            </div>
                        </div>
                        <div class="grade-area">
                            <div class="instruction_container">
                                    <h4>Mark per Question: </h4>
                                    {{ q_form.each_mark }}
                            </div>
                            <div class="instruction_container">
                                    <h4>Quiz Grading for Cumulative Score: </h4>
                                    {{ q_form.grade }}
                            </div>
                        </div>
                        <button class="content-buttons" type="submit">Add Quiz</button>
                    </form>
                </div>
            </div>
            <div class="content-p-container">
                <div class="content-header">
                    <h2>Assignments:</h2>
                    <div>
                        <button class="expand-button content-buttons light content-buttons-120" id="assignment-expand-btn">
                            Expand
                        </button>
                    </div>
                </div>
                <div id="content-container" class="content-container">
                    {% for assignment in assignments %}
                        <div class="chapter-view-container ass-v-container">
                            <div class="chapter-info-container">
                                    <span>{{ forloop.counter }}</span>
                                    <p class="ch-title-info">{{ assignment.title }}</p>
                            </div>
                            <div class="chapter-info-container">
                                <div class="toggle-div">
                                    <button id="aa-visible-button" class="toggle-btn light sel" type="button">Visible</button>
                                    <button id="aa-hidden-button" class="toggle-btn light" type="button">Hidden</button>
                                </div>
                                <button class="content-buttons light no-mrg">Edit</button>
                                <button class="icon-buttons" id="ass-delete-btn">
                                    <img width="32" height="32" src="https://img.icons8.com/ios/28/delete-forever--v1.png" alt="delete"/>
                                </button>
                            </div>
                        </div>
                    {%  endfor %}
                    <form method="post" enctype="multipart/form-data" action="{% url 'create_course_assignment' %}">
                        {% csrf_token %}
                        <div>
                            <h3>Assignment Title: </h3>
                            {{ a_form.course }}
                            {{ a_form.title }}
                            {{ a_form.visibility }}
                            <div class="toggle-div">
                                <button id="a-visible-button" class="toggle-btn sel" type="button">Visible</button>
                                <button id="a-hidden-button" class="toggle-btn" type="button">Hidden</button>
                            </div>
                            {{ a_form.plagiarism_check }}
                            <div class="toggle-div x-large">
                                <button id="p-check-button" class="toggle-btn x-large">Plagiarism Check</button>
                                <button id="no-p-check-button" class="toggle-btn sel x-large">No Check</button>
                            </div>
                        </div>
                        <div class="quiz_i_t_info">
                            <div class="instruction_container">
                                <h4>Instructions for Students: </h4>
                                {{ a_form.instructions }}
                            </div>
                            <div class="time_container">
                                <h4>Deadline for Submission: </h4>
                                <div class="quiz_i_t_info">
                                    {{ a_form.deadline }}
                                    <button id="open-deadline-dialog" class="date-button">
                                        <img width="28" height="28" src="https://img.icons8.com/ffffff/pulsar-line/48/thursday.png" alt="date"/>
                                    </button>
                                </div>
                                <h4>Assignment File: (pdf)</h4>
                                <div id="stream_video_file_div">
                                    {{ a_form.file }}
                                </div>
                            </div>
                        </div>
                        <div class="grade-area">
                            <div class="instruction_container">
                                    <h4>Assignment Grading for Cumulative Score: </h4>
                                    {{ a_form.grade }}
                            </div>
                        </div>
                        <button class="content-buttons" type="submit">Add Assignment</button>
                    </form>
                </div>
            </div>
            <div class="content-p-container">
                <div class="content-header">
                    <h2>In-Person Exam:</h2>
                    <div>
                        <button class="expand-button content-buttons light content-buttons-120" id="exam-expand-btn">
                            Expand
                        </button>
                    </div>
                </div>
                <div id="content-container" class="content-container">
                    {% for exam in exams %}
                        <div class="chapter-view-container exam-v-container">
                            <div class="chapter-info-container">
                                    <span>{{ forloop.counter }}</span>
                                    <p class="ch-title-info">{{ exam.title }}</p>
                            </div>
                            <div class="chapter-info-container">
                                <p class="ch-title-info">{{ exam.exam_date|date:"M d, Y" }}</p>
                                <button class="content-buttons light no-mrg">Edit</button>
                                <button class="icon-buttons" id="ex-delete-btn">
                                    <img width="32" height="32" src="https://img.icons8.com/ios/28/delete-forever--v1.png" alt="delete"/>
                                </button>
                            </div>
                        </div>
                    {%  endfor %}
                    <form method="post" action="{% url 'create_course_exam' %}">
                        {% csrf_token %}
                        <h3>Exam Title: </h3>
                        {{ e_form.course }}
                        {{ e_form.title }}
                        <div class="instruction_container">
                            <h4>Exam Grading for Cumulative Score: </h4>
                            {{ e_form.grade }}
                        </div>
                        <h4>Exam Date: </h4>
                                <div class="quiz_i_t_info">
                                    {{ e_form.exam_date }}
                                    <button id="open-exam-dialog" class="date-button">
                                        <img width="28" height="28" src="https://img.icons8.com/ffffff/pulsar-line/48/thursday.png" alt="date"/>
                                    </button>
                                </div>
                        <button class="content-buttons" type="submit">Add Exam</button>
                    </form>
                </div>
            </div>
            <div id="date-dialog" style="display: none;">
                <div id="header">
                    <button id="prev-month" class="date-b rotate">
                        <img width="24" height="24" src="https://img.icons8.com/ios/50/circled-chevron-right--v1.png" alt="circled-chevron-right--v1"/>
                    </button>
                    <p id="current-month" class="date-t"></p>
                    <button id="next-month" class="date-b">
                        <img width="24" height="24" src="https://img.icons8.com/ios/50/circled-chevron-right--v1.png" alt="circled-chevron-right--v1"/>
                    </button>
                </div>
                <div id="dates"></div>
            </div>
        </div>
        <div id="tab3" class="tab-content">
        {% if hide_std_stat %}
            <h2>Student Status</h2>
            <div class="view_container">
                <div class="view_content_container">
                    <h4>Chapters</h4>
                    {% for chapter in chapters %}
                        <div class="chapter-view-container">
                            <div class="chapter-info-container">
                                <span>{{ forloop.counter }}</span>
                                <p class="ch-title-info">{{ chapter.title }}</p>
                            </div>
                            {% if chapter.id in chapter_views %}
                                <button class="content-buttons light no-mrg">Viewed</button>
                            {% else %}
                                <button class="content-buttons g-light no-mrg">Received</button>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
                <div class="view_content_container">
                    {% if g_q_data|length > 0 %}
                        <h4>Quizzes</h4>
                        {% for quiz in g_q_data %}
                            <div class="chapter-view-container">
                                <div class="chapter-info-container">
                                    <span>{{ forloop.counter }}</span>
                                    <p class="ch-title-info">{{ quiz.content_object.title }}</p>
                                </div>
                                <button class="content-buttons light no-mrg">{{ quiz.scored_grade }} / {{ quiz.total_grade }}</button>
                            </div>
                        {% endfor %}
                    {%  endif %}
                </div>
            </div>
            <div class="view_container">
                <div class="view_content_container">
                    <h4>Assignment</h4>
                    {% for assignment in assignments %}
                        <div class="chapter-view-container">
                            <div class="chapter-info-container">
                                <span>{{ forloop.counter }}</span>
                                <p class="ch-title-info">{{ assignment.title }}</p>
                            </div>
                            {% if assignment.id in assignment_sub %}
                                <button class="content-buttons light no-mrg">Submitted</button>
                            {% else %}
                                <button class="content-buttons g-light no-mrg">Received</button>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
                <div class="view_content_container">
                    {% if g_e_data|length > 0 %}
                        <h4>Exam</h4>
                        {% for exam in g_e_data %}
                            <div class="chapter-view-container">
                                <div class="chapter-info-container">
                                    <span>{{ forloop.counter }}</span>
                                    <p class="ch-title-info">{{ exam.content_object.title }}</p>
                                </div>
                                <button class="content-buttons light no-mrg">{{ exam.scored_grade }} / {{ exam.total_grade }}</button>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        {% endif %}
            <h2>Enrolled Students</h2>
            {% for students in e_info %}
                <div class="chapter-view-container">
                    <div class="chapter-info-container">
                        <span>{{ forloop.counter }}</span>
                        <p class="ch-title-info">{{ students.user.first_name }} {{ students.user.last_name }}</p>
                    </div>
                    <div class="chapter-info-container">
                        <p class="ch-title-info">{{ students.user.email }}</p>
                        <form method="get">
                            <input type="hidden" name="student_id" value="{{ students.user.id }}">
                            <button class="icon-buttons s-sel">
                                <img width="36" height="36" src="https://img.icons8.com/fluency/48/grades.png"  alt="delete"/>
                            </button>
                        </form>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div id="tab4" class="tab-content">
            <div class="exam_container">
                <form method="get" id="dummy-exam-grade-form">
                    <input type="hidden" name="exam_get_id" id="exam_get_id_input">
                </form>
                {% for exam in exams %}
                    {% if  exam_get_id|add:"0" == exam.id %}
                        <button class="content-buttons exam-cat-btn" data-exam-id="{{ exam.id }}">{{ exam.title }}</button>
                    {% else %}
                        <button class="content-buttons light exam-cat-btn" data-exam-id="{{ exam.id }}">{{ exam.title }}</button>
                    {% endif %}
                {% endfor %}
            </div>
            {% if exam_get_id %}
                <h2>Enrolled Students</h2>
                {% for students in e_info %}
                    <div class="chapter-view-container">
                        <div class="chapter-info-container">
                            <span>{{ forloop.counter }}</span>
                            <p class="ch-title-info">{{ students.user.first_name }} {{ students.user.last_name }}</p>
                        </div>
                        <div class="chapter-info-container">
                            <p class="ch-title-info">{{ students.user.email }}</p>
                            <form id="updateGradeForm" class="updateGradeForm" method="post" action="{% url 'update_exam_grades' %}">
                                {% csrf_token %}
                                <input type="hidden" name="course" value="{{ course.id }}">
                                <input type="hidden" name="user_id" value="{{ students.user.id }}">
                                <input type="hidden" name="exam_id" value="{{ exam_get_id }}">
                                <label class="marg-r">Grade:</label>
                                {{ exam_grade_form.grade }}
                                <label > / </label>
                                <label id="total_marks_label" class="marg-r">{{ exam_get_total }}</label>
                                <button id="editSaveButton"  class="content-buttons light no-mrg">Edit</button>
                            </form>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p>Select exam to update grades for.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block extrascripts %}
    <script>
        const course_categories = '{{ course.categories }}';
        let chapters = [];
        {% for chapter in chapters %}
            var chap = {};
            chap['id'] = '{{ chapter.id|escapejs }}';
            chap['title'] = '{{ chapter.title|escapejs }}';
            chap['visibility'] = '{{ chapter.visibility|escapejs }}';
            chap['is_streaming'] = '{{ chapter.is_streaming|escapejs }}';
            chapters.push(chap);
        {% endfor %}
        let quizzes = [];
        {% for quiz in quizzes %}
            var q = {};
            q['id'] = '{{ quiz.id|escapejs }}';
            q['title'] = '{{ quiz.title|escapejs }}';
            q['visibility'] = '{{ quiz.visibility|escapejs }}';
            quizzes.push(q);
        {% endfor %}
        let assignments = [];
        {% for assignment in assignments %}
            var a = {};
            a['id'] = '{{ assignment.id|escapejs }}';
            a['title'] = '{{ assignment.title|escapejs }}';
            a['visibility'] = '{{ assignment.visibility|escapejs }}';
            assignments.push(a);
        {% endfor %}
        let exams = [];
        {% for ex in exams %}
            var e = {};
            e['id'] = '{{ ex.id|escapejs }}';
            e['title'] = '{{ ex.title|escapejs }}';
            exams.push(e);
        {% endfor %}
        let scored_grades_list = [];
            {% for gr in students_scored_grades %}
                var gr = '{{ gr|escapejs }}';
                scored_grades_list.push(gr);
            {% endfor %}

        let delete_url = "{% url 'delete_course_content' %}";
        let change_vis_url = "{% url 'change_chapter_visibility' %}";
        let page_scroll_y = '{{ page_scroll }}';
    </script>
    <script src="{% static 'Athena/js/course_author_page.js'%}"></script>
{% endblock %}