{% extends 'Athena/base.html' %}
{% load static %}
{% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="{% static 'Athena/css/course_builder_style.css' %}"/>
{% endblock stylesheets %}
{% block nav_item_course %}
    <div class="nav-border">
        <a href="/course"><img width="40" height="40" src="https://img.icons8.com/eeeeee/fluency-systems-regular/48/user.png" alt="user"/></a>
    </div>
{% endblock nav_item_course %}
{% block page %}
    <div class="progress_block">
        <div class="progress_icons">
            <img class="prog-icon" width="36" height="36" src="https://img.icons8.com/999999/dotty/80/circled.png" alt="verification"/>
            <div class="divider"></div>
            <img class="prog-icon" width="36" height="36" src="https://img.icons8.com/999999/dotty/80/circled.png" alt="verification"/>
            <div class="divider"></div>
            <img class="prog-icon" width="36" height="36" src="https://img.icons8.com/999999/dotty/80/circled.png" alt="verification"/>
            <div class="divider"></div>
            <img class="prog-icon" width="36" height="36" src="https://img.icons8.com/999999/dotty/80/circled.png" alt="verification"/>
        </div>
        <div class="progress_labels">
            <p>Step: 1</p>
            <p>Step: 2</p>
            <p>Step: 3</p>
            <p>Step: 4</p>
        </div>
{#        <div class="progress_labels">#}
{#            <p class="titles"> Details </p>#}
{#            <p class="titles">   Content</p>#}
{#            <p class="titles">Enrollment</p>#}
{#            <p class="titles">  Review  </p>#}
{#        </div>#}
    </div>
    <div id="page-1" class="details-page">
        <h2 class="title_h2">Course Details</h2>
        <div class="details-names-l">
            <label class="labels" for="courseTitle">Course Title</label>
            {{ form.course_title }}
{#            <input type="text" id="courseTitle" class="input_text">#}
        </div>
        <div class="details-names-l">
            <label class="labels"  for="courseDesc">Course Description</label>
            {{ form.course_desc }}
{#            <textarea id="courseDesc" class="input_text  courseDec"></textarea>#}
        </div>

        <div class="details-names-l">
            <label class="labels" for="startDate">Course Start Date</label>
            <div class="details-names not">
{#                <input type="text" id="startDate" class="input_text" readonly>#}
                {{ form.course_start_date }}
                <button id="open-start-dialog" class="date-button">
                    <img width="28" height="28" src="https://img.icons8.com/ffffff/pulsar-line/48/thursday.png" alt="date"/>
                </button>
            </div>
        </div>

        <div class="details-names-l">
            <label class="labels" for="endDate">Course End Date</label>
            <div class="details-names not">
                {{ form.course_end_date }}
{#                <input type="text" id="endDate" class="input_text" readonly>#}
                <button id="open-end-dialog" class="date-button">
                    <img width="28" height="28" src="https://img.icons8.com/ffffff/pulsar-line/48/thursday.png" alt="date"/>
                </button>
            </div>
        </div>


        <div id="date-dialog" style="display: none;">
          <div id="header">
            <button id="prev-month" class="date-b rotate">
                <img width="24" height="24" src="https://img.icons8.com/ios/50/circled-chevron-right--v1.png" alt="circled-chevron-right--v1"/>
            </button>
            <p id="current-month" class="date-t"></p>
            <button id="next-month" class="date-b">
                <img width="24" height="24" src="https://img.icons8.com/ios/50/circled-chevron-right--v1.png" alt="circled-chevron-right--v1"/>
            </button>
          </div>
          <div id="dates"></div>
        </div>
        <div class="button_control">
            <button id="previous-button" class="prev-btn hide">Back</button>
            <div></div>
            <button id="next-button" class="next-button">Next</button>
        </div>
  </div>
  <div id="page-2" class="details-page">
    <h2 class="title_h2">Content Details</h2>
      <p class="user-hints">Select categories most related to the course:</p>
      <div id="selected-categories" class="selected-categories">

      </div>
      <div class="combo-add-container">
          {{ form.categories }}
          <button type="button" id="add-button" class="primary-btn">Add</button>
      </div>
    <div class="button_control">
            <button id="previous-button" class="prev-btn">Back</button>
            <div>
            </div>
            <button id="next-button" class="next-button">Next</button>
    </div>
  </div>
  <div id="page-3" class="details-page">
    <h2 class="title_h2">Enrollment Details</h2>
      <div class="details-names">
            <div class="details-names-l">
                <label class="labels" for="courseDiff">Course Difficulty</label>
                {{ form.course_difficulty }}
            </div>
            <div class="details-names-l">
                <label class="labels"  for="courseType">Course Type</label>
                {{ form.course_type }}
            </div>
        </div>
      <div class="details-names-l">
          <label class="labels"  for="courseDay">If the class is repeating each week, please select a specific day:</label>
          <div class="days-info-container">
            {{ form.course_day }}
            <div class="days-container">
                <div class="day" data-day="Not Repeating">No</div>
                <div class="day" data-day="Monday">Mon</div>
                <div class="day" data-day="Tuesday">Tue</div>
                <div class="day" data-day="Wednesday">Wed</div>
                <div class="day" data-day="Thursday">Thu</div>
                <div class="day" data-day="Friday">Fri</div>
                <div class="day" data-day="Saturday">Sat</div>
                <div class="day" data-day="Sunday">Sun</div>
            </div>
          </div>
      </div>
      <div class="upload_course_banner">
          {{ form.course_banner }}
          <img id="course-banner-img" class="course-banner-img" src="{% static 'Athena/media/course_banner.jpg' %}" alt="">
          <div class="details-names-l">
              <button id="previous-button" class="up-btn" onclick="openImageBrowser(event)">Upload Banner</button>
          </div>
      </div>

    <div class="button_control">
            <button id="previous-button" class="prev-btn">Back</button>
            <div></div>
            <button id="next-button" class="next-button">Next</button>
    </div>
  </div>
  <div id="page-4" class="details-page">
    <h2 class="title_h2">Review</h2>
    <div class="button_control">
            <button id="previous-button" class="prev-btn">Back</button>
            <div></div>
            <button id="next-button" class="next-button">Submit</button>
    </div>
  </div>

{% endblock %}
{% block extrascripts %}
      <script src="{% static 'Athena/js/course_page.js' %}"></script>
{% endblock %}