{% extends 'Athena/base.html' %}
{% load static %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'Athena/css/course_content_page.css' %}"/>
{% endblock %}

{% block page %}
    {% if chapters or assignments or quizzes %}
    <div class="parent-content">
        <div id="video-content" class="video-content">
            <video id="video-box">
                Your browser does not support the video tag.
            </video>
            <div id="overlay" class="overlay">
                <div id="overlay-tint" class="tint"></div>
                <div class="control-bar">
                    <button id="previous-button" class="c-button">
                        <img width="32" height="32" src="https://img.icons8.com/sf-regular/48/skip-to-start.png" alt="previous"/>
                    </button>
                    <button id="rewind-button" class="c-button">
                        <img width="32" height="32" src="https://img.icons8.com/sf-regular/48/skip-15-seconds-back.png" alt="rewind"/>
                    </button>
                    <button id="play-pause-button" class="c-button">
                        <img id="play-pause-btn-img" width="32" height="32" src="https://img.icons8.com/sf-regular/48/play.png" alt="pause"/>
                        {# pause "https://img.icons8.com/sf-regular/48/pause.png" #}
                    </button>
                    <button id="next-button" class="c-button">
                        <img width="32" height="32" src="https://img.icons8.com/sf-regular/48/end.png" alt="Next"/>
                    </button>
                    <p id="cur-time" class="time"> 00:00 </p>
                    <input class= "seek-bar" id="seek-bar" type="range" min="0" value="0" step="0.1">
                    <button id="mute_button" class="c-button">
                        <img width="32" height="32" src="https://img.icons8.com/sf-regular/48/sound-speaker.png" alt="sound"/>
                        {# mute "https://img.icons8.com/sf-regular/48/sound-speaker.png"#}
                        {# sound "https://img.icons8.com/sf-regular/48/high-volume.png" #}
                    </button>
                    <button id="full_screen_button" class="c-button">
                        <img width="32" height="32" src="https://img.icons8.com/sf-regular/48/full-screen.png" alt="full-screen"/>
                    </button>
                </div>
            </div>
        </div>
        <div id="non-video-content" class="video-content quiz-content n-pad">
            <div id="content-frame" class="content-frame" style="overflow-y: auto;"></div>
        </div>
        <div id="quiz-content" class="video-content quiz-content" hidden="hidden">
            <div id="quiz-start-page" class="quiz-content">
                <div class="content">
                    <h1 class="quiz-title">Quiz:</h1>
                    <h1 id="quiz_title" class="quiz-title"></h1>
                </div>
                <div class="content">
                    <p>Duration: </p>
                    <p id="quiz_time">10</p>
                    <p> minutes</p>
                </div>
                <div class="content">
                    <p>Negative Marking: </p>
                    <p id="quiz_negative_marking">Applicable</p>
                </div>
                <h3>Instructions:</h3>
                <p id="quiz-instructions"></p>
                <button id="start-quiz" class="content-buttons" onclick="sendQuizRequest(0, 0, 0)">
                    Start
                </button>
            </div>
            <div id="quiz-q-page" class="quiz-content hide">
                <h2 id="quiz_question_v" class="quiz-question-v">What is the purpose of Django's context processors?</h2>
                <button id="option_1" class="q-options">
                    <span>1</span>
                    To manage user sessions and cookies
                </button>
                <button id="option_2" class="q-options">
                    <span>2</span>
                    To handle form submissions and data validation
                </button>
                <button id="option_3" class="q-options">
                    <span>3</span>
                    To provide additional data to all templates
                </button>
                <button id="option_4" class="q-options">
                    <span>4</span>
                    To cache database queries and improve performance
                </button>
                <div class="quiz-buttons-cont">
                    <button id="get_next_question" class="content-buttons large">
                        NEXT
                    </button>
                </div>
            </div>
            <div id="quiz-f-page" class="quiz-content hide">
                 <div class="content">
                    <h1 class="quiz-title">You Scored: </h1>
                    <h1 id="quiz_score" class="quiz-title">10/30</h1>
                </div>
                <div class="content">
                    <p>You Answered: </p>
                    <p id="quiz_correct_q"></p>
                    <p> / </p>
                    <p id="quiz_total_q"></p>
                    <p> Questions</p>
                </div>
                {% if request.user.membership.id > 1 %}
                    <button id="retake-quiz" class="content-buttons" onclick="retakeQuiz()">
                        Retake
                    </button>
                {% else %}
                    <p class="upgrade_btn">Upgrade to Lesser or Higher account, for Unlimited Quiz retakes.</p>
                    <button class="content-buttons" onclick="window.location.href ='{% url 'settings_page' %}'">
                        Upgrade
                    </button>
                {% endif %}
            </div>
        </div>
        <div class="chapter-content">
            <h2>Chapters</h2>
            {% for chapter in chapters %}
                {% if chapter.is_streaming %}
                    <div class="view-container chapter-view-container" data-video="{{ chapter.video_file.url }}">
                        <p>{{ chapter.title }}</p>
                    </div>
                {% else %}
                    <div class="view-container chapter-view-container" data-pdf-url="{{ chapter.files.url }}">
                        <p>{{ chapter.title }}</p>
                    </div>
                {% endif %}
            {% empty %}
                <p> No chapter created. </p>
            {%  endfor %}
            {%  if quizzes|length > 0 %}
                <h2>Quiz</h2>
            {% endif %}
            {% for quiz in quizzes %}
                <div class="view-container quiz-view-container">
                    <p>{{ quiz.title }}</p>
                </div>
            {%  endfor %}
            {% if assignments|length > 0 %}
                <h2>Assignments</h2>
            {% endif %}
            {% for ass in assignments %}
                {%  if ass.file %}
                <div class="view-container assignment-view-container" data-pdf-url="{{ ass.file.url }}">
                    <p>{{ ass.title }}</p>
                </div>
                {% else %}
                    <div class="view-container">
                        <p> No File added to assignment.</p>
                    </div>
                {% endif %}
            {%  endfor %}
            <h2>Course Rating</h2>
            <div class="rating-widget">
                  <div class="star-container">
                    <div class="star gold" data-rating="100" data-index="1"></div>
                    <div class="star gold" data-rating="100" data-index="2"></div>
                    <div class="star gold" data-rating="80"  data-index="3"></div>
                    <div class="star gold" data-rating="0"  data-index="4"></div>
                    <div class="star gold" data-rating="0" data-index="5"></div>
                  </div>
            </div>
            <form id='rating_form' method="post" action="{% url 'update_course_rating' %}">
                {% csrf_token %}
                {{ rating_form }}
            </form>
        </div>
    </div>
    <div id="quiz-time-container" class="quiz-time-container">
        <div id="question-container" class="question-container-progress"></div>
        <span id="time-display" class="time-display">00:00</span>
    </div>
    {# Extra componenets #}
    <div id="chapter-extra-container">
        <h1 id="chapter_title" class="chapter-title">Title</h1>
        <form method="post" action="{% url 'download_file' %}">
            {% csrf_token %}
            <input type="hidden" value="{{ course.id }}" name="course">
            <input id="dummy-file-type" type="hidden" value="Chapter" name="file_type">
            <input id="dummy-object-id" type="hidden" value="-1" name="object_id">
            <button type="submit" class="content-buttons">Download</button>
        </form>
    </div>
    <div id="assignment-extra-container">
        <div class="assignment-s-container">
             <div class="assignment-s-content">
                 <h2>Instructions</h2>
                 <p id="assignment-instructions"></p>
             </div>
            <div>
                <div id="prev-submission">
                    <h2>Previous submission</h2>
                    <br>
                    <p id="p-s-file-name">dd</p>
                    <br>
                    <form method="post">
                        {% csrf_token %}
                        <input id="submission_id" name="submission_id" type="hidden">
                        <button type="submit" class="content-buttons light">Open File</button>
                    </form>
                </div>
                <form method="post" action="{% url 'submit_assignment' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ submit_form.user }}
                    {{ submit_form.assignment }}
                    {{ submit_form.file }}
                    <button type="submit" class="content-buttons">Submit</button>
                </form>
            </div>
        </div>
    </div>
    {% else %}
        <div class="center_div">
            <p>No content Added yet. Please try again later or contact the instructor.</p>
        </div>
    {% endif %}

{% endblock %}

{% block extrascripts %}
    <script>
        let chapters = [];
        {% for chapter in chapters %}
            var chap = {};
            chap['id'] = '{{ chapter.id|escapejs }}';
            chap['title'] = '{{ chapter.title|escapejs }}';
            chap['is_streaming'] = '{{ chapter.is_streaming|escapejs }}';
            chapters.push(chap);
        {% endfor %}
        let quizzes = [];
        {% for quiz_i in quizzes %}
            var quiz = {};
            quiz['id'] = '{{ quiz_i.id|escapejs }}'
            quiz['course_id'] = {{ quiz_i.course.id|escapejs }}
            quiz['title'] = '{{ quiz_i.title|escapejs }}';
            quiz['time'] = '{{ quiz_i.time|escapejs }}';
            quiz['negative_marking'] = '{{ quiz_i.negative_marking|escapejs }}'
            quiz['instructions'] = '{{ quiz_i.instructions|escapejs }}'
            quizzes.push(quiz);
        {% endfor %}
        let assignments = [];
        {% for assignment in assignments %}
            var a = {};
            a['id'] = '{{ assignment.id|escapejs }}';
            a['title'] = '{{ assignment.title|escapejs }}';
            a['visibility'] = '{{ assignment.visibility|escapejs }}';
            a['instructions'] = '{{ assignment.instructions|escapejs }}';
            assignments.push(a);
        {% endfor %}
        let submissions = [];
        {% for submission in submissions %}
            var s =[]
            s['id'] = '{{ submission.id|escapejs }}'
            s['assignment_id'] = '{{ submission.assignment.id|escapejs }}';
            s['file_name'] = '{{ submission.file.name|escapejs }}';
            submissions.push(s);
        {% endfor %}
        const course_rating = '{{ course.course_rating|escapejs }}';
        const quiz_url = '{% url 'get_quiz_questions' %}';
        const chapter_view_url = '{% url 'chapter_view_status' %}';
    </script>
    <script src="{% static 'Athena/js/course_content_page.js' %}"></script>
{% endblock %}