{% extends 'Athena/base.html' %}
{% load static %}
{% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="{% static 'Athena/css/schedule_style.css' %}"/>
{% endblock stylesheets %}
{% block nav_item_schedule %}
    <div class="nav-border sel">
        <a href="/schedule"><img width="40" height="40" src="https://img.icons8.com/070708/pulsar-line/48/thursday.png" alt="calender"/></a>
    </div>
{% endblock nav_item_schedule %}
{% block page %}

    <div class="section_container">
        <div class="dialog_section">
            <div id="date-dialog">
                  <div id="header">
                    <button id="prev-month" class="date-b rotate">
                        <img width="68" height="68" src="https://img.icons8.com/ios/68/circled-chevron-right--v1.png" alt="circled-chevron-right--v1"/>
                    </button>
                    <p id="current-month" class="date-t"></p>
                    <button id="next-month" class="date-b">
                        <img width="68" height="68" src="https://img.icons8.com/ios/68/circled-chevron-right--v1.png" alt="circled-chevron-right--v1"/>
                    </button>
                  </div>
                  <div id="dates"></div>
            </div>
        </div>
        <div class="event_section">
            <h2 class="title_h2">Scheduled Events</h2>
            <div class="divider"></div>
            {% if class_events|length == 0 and ass_events|length == 0 and exam_events|length == 0 %}
                <p>No events yet.</p>
            {% endif %}
            <form method="post" id="date_send_form">
                {% csrf_token %}
                <input type="hidden" name="date" id="date-input">
            </form>
            {% for event in class_events %}
                <div class="e-container">
                    <span class="span">C</span>
                    <h3>{{ event.course_title }}</h3>
                </div>
            {% endfor %}
            {% for event in ass_events %}
                <div class="e-container">
                    <span class="span ass_span">A</span>
                    <h3>{{ event.title }}</h3>
                </div>
            {% endfor %}
            {% for event in exam_events %}
                <div class="e-container">
                    <span class="span exam_span">E</span>
                    <h3>{{ event.title }}</h3>
                </div>
            {% endfor %}
        </div>
    </div>


{% endblock %}
{% block extrascripts %}
    <script>
        var currentDate = new Date();
        {% if d_date %}
            var dateString = '{{ d_date }}';
            const parts = dateString.split('-');
            const month = parseInt(parts[0], 10);
            const day = parseInt(parts[1], 10);
            const year = parseInt(parts[2], 10);

            currentDate = new Date(year, month - 1, day);
            console.log(currentDate);
        {% endif %}
    </script>
    <script src="{% static 'Athena/js/schedule_page.js' %}"></script>
{% endblock %}