{% extends 'Athena/base.html' %}
{%  load static %}
{% block nav_item_settings %}
    <div class="nav-border sel">
        <a href="/settings"><img width="40" height="40" src="https://img.icons8.com/070708/fluency-systems-regular/48/settings.png" alt="settings"/></a>
    </div>
{% endblock nav_item_settings %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'Athena/css/settings_style.css' %}"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Pacifico&family=Roboto:wght@300&display=swap" rel="stylesheet">
{% endblock stylesheets %}
{% block page %}
    
    <div class="profile_card">
        <form id="profile_form" method="post" action="{% url 'upload_profile_page' %}" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.user }}
            {{ form.img }}
{#            <input type="file" id="image-input" accept="image/*" alt="profile" style="display: none;">#}
            {% if profile_img %}
                <img id='profile_view' src="{{ profile_img.url }}" alt="User-profile">
            {% else %}
                <img id='profile_view' src="{%  static 'Athena/media/user.jpg' %}" alt="User-profile">
            {% endif %}
            <button id="update-photo-button" onclick="openImageBrowser(event)">
                <img width="18" height="18" src="https://img.icons8.com/eeeeee/ios/50/edit--v1.png" alt="edit--v1"/>
            </button>
        </form>
        <div class="info_container">
            <h3 id="username-input">{{ user.username }}</h3>
            <p>{{ user.email }}</p>
        </div>
    </div>


  <div class="details-container">
    <div class="title_1_container">
        <h2 class="title_h2">Personal Details</h2>
    </div>
    <form id="user_names_form" method="post" action="{%  url 'update_user_name' %}">
        {% csrf_token %}
        <div class="details-names">
            <div class="details-names-l">
                <label class="labels" for="firstName">First Name</label>
                {{ u_form.first_name }}
    {#            <input type="text" id="firstName" class="read-only" readonly value="{{ user.first_name }}">#}
            </div>
            <div class="details-names-l">
                <label class="labels"  for="lastName">Last Name</label>
                {{ u_form.last_name }}
    {#            <input type="text" id="lastName" class="read-only" readonly value="{{ user.last_name }}">#}
            </div>
        </div>
    </form>
    <div class="details-buttons">
        <button id="edit-button" class="edit-button edit-button">Edit Details</button>
        <button id="reset-password" class="secondary-btn">Change Password</button>
    </div>
    <div>
        <div class="title_1_container">
            <h2 class="title_h2">Membership Information</h2>
        </div>
        <div class="details-member">
            <label class="labels"  for="membership">Current Account Type</label>
            <form id="membership_form" action="{% url 'cancel_membership' %}" method="post">
                {% csrf_token %}
                <input type="text" id="membership" class="read-only" readonly value="{{ user.membership }}">
                {{ m_form.membership }}
            </form>
        </div>
        <div class="details-buttons">
            <button id="upgrade-button" class="edit-button green">Upgrade </button>
            {% if user.membership.id > 1 %}
                <button id="cancel-membership" class="secondary-btn red">Cancel Account</button>
            {% endif %}
        </div>
    </div>
  </div>
  <div id="dialog-overlay"></div>
  <div id="dialog-box">
      <h2>Cancel Membership</h2>
      <p>Are you sure you want to cancel your membership? By clicking Cancel membership, your account will be demoted to "Demi" status. You will lose the privileges given to you for the upgraded account.</p>
      <button id="cancel-membership-button" class="secondary-btn red extended-w">Cancel Membership</button>
      <button id="continue-membership-button" class="edit-button green extended-w">Continue Membership</button>
  </div>
    <div id="upgrade-dialog" class="dialog-b">
      <h1> Simple, transparent pricing</h1>
      <p>No contracts. No surprise fees.</p>

      <div class="dialog-b-content">
        <div class="features-section">


            <div class="toggle-div">
                <button id="monthly-button" class="toggle-btn sel">Monthly</button>
                <button id="yearly-button" class="toggle-btn ">Yearly</button>
            </div>
            {% for feature in features_list %}
            <div class="feature-item">
                <p>{{ feature.name }}</p>
                {% if feature.min <= user.membership.id %}
                    <img height="16" width="16" src="https://img.icons8.com/070708/material-rounded/24/checked--v1.png" alt="feature-status">
                {% else %}
                    <img height="16" width="16" src="https://img.icons8.com/070708/ios/50/cancel.png" alt="feature-status">
                {% endif %}
            </div>
            {% endfor %}

        </div>
        <div class="sep-section"></div>
        <div class="pricing-section">
            {% for mship in membership_list %}
                {% if mship.type == user.membership.type %}
                    <div class="membership-price-item sel">
                        <img width="20" height="20" src="https://img.icons8.com/ffffff/material-rounded/24/checked--v1.png" alt="checked--v1"/>
                        <p class="membership_number" style="display: none;">{{ mship.id }}</p>
                        <p class="p-t-label">{{ mship.type }}</p>
                        <span></span>
                        <h2>${{ mship.price }}</h2>
                        <p class="p-label">/Month</p>
                    </div>
                {% else %}
                    <div class="membership-price-item">
                        <img width="20" height="20" src="https://img.icons8.com/aaaaaa/ios-filled/50/circled.png" alt="checked--v1"/>
                        <p class="membership_number" style="display: none;">{{ mship.id }}</p>
                        <p class="p-t-label">{{ mship.type }}</p>
                        <span></span>
                        <h2>${{ mship.price }}</h2>
                        <p class="p-label">/Month</p>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
      </div>
      <div>
          <form id="membership-upgrade-form" action="{%  url 'update_user_membership' %}" method="post">
              {% csrf_token %}
              {{ mm_form.membership }}
          </form>
      </div>
      <div class="buy-divider"></div>
      <div class="plan-buy-container">
        <button id="exit-dialog-button" class="secondary-btn">Exit</button>
        <button id="buy-selected-btn" class="edit-button">Buy Selected</button>
      </div>
    </div>
{% endblock %}
{% block extrascripts %}
    <script>
        var currentMinFeature = '{{ user.membership.id|escapejs }}';
        var features = {};
        {% for item in features_list %}
            features["{{ item.name|escapejs }}"] = '{{ item.min|escapejs }}';
        {% endfor %}
    </script>
    <script src="{% static 'Athena/js/settings_page.js' %}"></script>
{% endblock %}