{% extends 'Athena/base.html' %}
{%  load static %}
{% block nav_item_settings %}
    <div class="nav-border sel">
        <a href="/settings"><img width="40" height="40" src="https://img.icons8.com/070708/fluency-systems-regular/48/settings.png" alt="settings"/></a>
    </div>
{% endblock nav_item_settings %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'Athena/css/settings_style.css' %}"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Pacifico&family=Roboto:wght@300&display=swap" rel="stylesheet">
{% endblock stylesheets %}
{% block page %}
    
    <div class="profile_card">
        <form id="profile_form" method="post" action="{% url 'upload_profile_page' %}" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.user }}
            {{ form.img }}
{#            <input type="file" id="image-input" accept="image/*" alt="profile" style="display: none;">#}
            {% if profile_img %}
                <img id='profile_view' src="{{ profile_img.url }}" alt="User-profile">
            {% else %}
                <img id='profile_view' src="{%  static 'Athena/media/user.jpg' %}" alt="User-profile">
            {% endif %}
            <button id="update-photo-button" onclick="openImageBrowser(event)">
                <img width="18" height="18" src="https://img.icons8.com/eeeeee/ios/50/edit--v1.png" alt="edit--v1"/>
            </button>
        </form>
        <div class="info_container">
            <h3 id="username-input">{{ user.username }}</h3>
            <p>{{ user.email }}</p>
        </div>
    </div>


  <div class="details-container">
    <div class="title_1_container">
        <h2 class="title_h2">Personal Details</h2>
    </div>
    <form id="user_names_form" method="post" action="{%  url 'update_user_name' %}">
        {% csrf_token %}
        <div class="details-names">
            <div class="details-names-l">
                <label class="labels" for="firstName">First Name</label>
                {{ u_form.first_name }}
    {#            <input type="text" id="firstName" class="read-only" readonly value="{{ user.first_name }}">#}
            </div>
            <div class="details-names-l">
                <label class="labels"  for="lastName">Last Name</label>
                {{ u_form.last_name }}
    {#            <input type="text" id="lastName" class="read-only" readonly value="{{ user.last_name }}">#}
            </div>
        </div>
    </form>
    <div class="details-buttons">
        <button id="edit-button" class="edit-button edit-button">Edit Details</button>
        <button id="reset-password" class="secondary-btn">Change Password</button>
    </div>
    <div>
        <div class="title_1_container">
            <h2 class="title_h2">Membership Information</h2>
        </div>
        <div class="details-member">
            <label class="labels"  for="membership">Current Account Type</label>
            <input type="text" id="membership" class="read-only" readonly value="{{ user.membership }}">
        </div>
        <div class="details-buttons">
            <button id="upgrade-button" class="edit-button green">Upgrade </button>
            <button id="cancel-membership" class="secondary-btn red">Cancel Account</button>
        </div>
    </div>
  </div>
{% endblock %}
{% block extrascripts %}
      <script src="{% static 'Athena/js/settings_page.js' %}"></script>
{% endblock %}