<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content=""width=device-width, initial-scale="1.0">
    <meta charset="UTF-8">
    <title>Athena</title>
    <link rel="stylesheet" href="dash_style.css">
    <!-- #ffffff light semi-light #f1f5fb Dark #070708 -->
</head>
<body>
<div class="header">
    <div class="nav-bar">
        <ul class="nav-links">
            <li><a href="#"><img width="40" height="40" src="https://img.icons8.com/eeeeee/sf-regular/48/home.png" alt="home"/></a></li>
            <li><a href="#"><img width="40" height="40" src="https://img.icons8.com/eeeeee/fluency-systems-regular/48/user.png" alt="user"/></a></li>
            <li><a href="#"><img width="40" height="40" src="https://img.icons8.com/eeeeee/material-outlined/48/speech-bubble-with-dots.png" alt="message"/></a></li>
            <li><a href="#"><img width="40" height="40" src="https://img.icons8.com/eeeeee/pulsar-line/48/thursday.png" alt="calender"/></a></li>
            <li><a href="#"><img width="40" height="40" src="https://img.icons8.com/eeeeee/fluency-systems-regular/48/clock--v3.png" alt="clock--v3"/></a></li>
            <li><a href="#"><img width="40" height="40" src="https://img.icons8.com/eeeeee/fluency-systems-regular/48/settings.png" alt="settings"/></a></li>
        </ul>
    </div>
    <div class="section">
    </div>
</div>
</body>
</html>