<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content=""width=device-width, initial-scale="1.0">
    <meta charset="UTF-8">
    <title>Athena</title>
    {% load static %} <link rel="stylesheet" type="text/css" href="{% static 'Athena/css/dash_style.css' %}"/>
    {% load static %} <link rel="shortcut icon" type="image/png" href="{% static 'Athena/media/Athena-logo.png' %}"/>
    <!-- #ffffff light semi-light #f1f5fb Dark #070708 -->
</head>
<body>
<div class="header">
    <div class="nav-bar">
        <div class="logo-head">

            {% load static %}<img width="40" height="40" src="{% static "Athena/media/Athena-logo.png" %}" alt="Logo"/>
        </div>
        <ul class="nav-links">
            <li>
                <div class="nav-border sel">
                    <a href="#"><img width="40" height="40" src="https://img.icons8.com/070708/sf-regular/48/home.png" alt="home"/></a>
                </div>
            </li>    
            <li>
                <div class="nav-border">
                    <a href="#"><img width="40" height="40" src="https://img.icons8.com/eeeeee/fluency-systems-regular/48/user.png" alt="user"/></a>
                </div>
            </li>
            <li>
                <div class="nav-border">
                    <a href="#"><img width="40" height="40" src="https://img.icons8.com/eeeeee/material-outlined/48/speech-bubble-with-dots.png" alt="message"/></a>
                </div>
            </li>
            <li>
                <div class="nav-border">
                    <a href="#"><img width="40" height="40" src="https://img.icons8.com/eeeeee/pulsar-line/48/thursday.png" alt="calender"/></a>
                </div>
            </li>
            <li>
                <div class="nav-border">
                    <a href="#"><img width="40" height="40" src="https://img.icons8.com/eeeeee/fluency-systems-regular/48/clock--v3.png" alt="clock--v3"/></a>
                </div>
            </li>
            <li>
                <div class="nav-border">
                    <a href="#"><img width="40" height="40" src="https://img.icons8.com/eeeeee/fluency-systems-regular/48/settings.png" alt="settings"/></a>
                </div>
            </li>
        </ul>
    </div>
    <div class="section">
        <div class="title-bar">
            <h1 class="page-title">Dashboard</h1>
            <div class="search-box">
                <img width="30" height="30" src="https://img.icons8.com/070708/ios/50/search--v1.png" alt="search"/>
                <input class="search-f" type="text" name="search-box" placeholder="Search">
            </div>
            <div class="nav-border dark">
                <img width="48" height="48" src="https://img.icons8.com/070708/external-creatype-outline-colourcreatype/64/external-alarm-essential-ui-v2-creatype-outline-colourcreatype-2.png" alt="external-alarm-essential-ui-v2-creatype-outline-colourcreatype-2"/>
            </div>
            <div class="nav-border">
                {% load static %}<a href="#"><img class="rounded" width="60" height="60" src="{% static "Athena/media/user.jpg" %}" alt="user"/></a>
            </div>
        </div>
    </div>
</div>
</body>
</html>